## -------------------------------------------------------------------------
## Ficheiros de Build e Objectos (.NET)
## -------------------------------------------------------------------------
[Bb]in/
[Oo]bj/
TestResults/
*.out
*.tmp

## -------------------------------------------------------------------------
## Ficheiros do Editor / IDE (Visual Studio, Rider, VS Code)
## -------------------------------------------------------------------------
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.ide*
.idea/
.vscode/
*.Rider.user
*.resharper.user

## -------------------------------------------------------------------------
## Base de Dados Local (SQLite)
## Não queremos enviar dados de testes/clientes reais para o GitHub!
## -------------------------------------------------------------------------
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
emissor_mdfe.db

## -------------------------------------------------------------------------
## Pacotes NuGet
## -------------------------------------------------------------------------
*.nupkg
*.snupkg
**/packages/
*.nuget.props
*.nuget.targets

## -------------------------------------------------------------------------
## Sistema Operativo e Outros
## -------------------------------------------------------------------------
.DS_Store
Thumbs.db